/*navbar sass */
/* line 3, ../sass/navbar.scss */
nav {
  width: 100%;
  background-color: white;
  overflow: hidden;
  position: fixed;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
}
/* line 9, ../sass/navbar.scss */
nav main {
  max-width: 1140px;
  margin: auto;
  overflow: hidden;
}
/* line 15, ../sass/navbar.scss */
nav ul:nth-child(1) {
  display: inline-block;
  float: right;
}
/* line 18, ../sass/navbar.scss */
nav ul:nth-child(1) li {
  display: inline-block;
  padding: 19px 15px 25px 15px;
}
/* line 23, ../sass/navbar.scss */
nav ul:nth-child(1) {
  float: left;
}
/* line 25, ../sass/navbar.scss */
nav ul:nth-child(1) li {
  padding: 14px 15px;
}
@media screen and (max-width: 768px) {
  /* line 30, ../sass/navbar.scss */
  nav ul:nth-child(3) {
    display: none;
    float: left;
    clear: both;
    margin-bottom: 20px;
  }
  /* line 35, ../sass/navbar.scss */
  nav ul:nth-child(3) li {
    display: block;
    padding: 5px 17px;
    margin-top: 0px;
  }
  /* line 42, ../sass/navbar.scss */
  nav ul:nth-child(2) li {
    padding: 19px 15px 19px 15px;
  }
}
/* line 15, ../sass/navbar.scss */
nav ul:nth-child(2) {
  display: inline-block;
  float: right;
}
/* line 18, ../sass/navbar.scss */
nav ul:nth-child(2) li {
  display: inline-block;
  padding: 19px 15px 25px 15px;
}
/* line 23, ../sass/navbar.scss */
nav ul:nth-child(1) {
  float: left;
}
/* line 25, ../sass/navbar.scss */
nav ul:nth-child(1) li {
  padding: 14px 15px;
}
@media screen and (max-width: 768px) {
  /* line 30, ../sass/navbar.scss */
  nav ul:nth-child(3) {
    display: none;
    float: left;
    clear: both;
    margin-bottom: 20px;
  }
  /* line 35, ../sass/navbar.scss */
  nav ul:nth-child(3) li {
    display: block;
    padding: 5px 17px;
    margin-top: 0px;
  }
  /* line 42, ../sass/navbar.scss */
  nav ul:nth-child(2) li {
    padding: 19px 15px 19px 15px;
  }
}
/* line 15, ../sass/navbar.scss */
nav ul:nth-child(3) {
  display: inline-block;
  float: right;
}
/* line 18, ../sass/navbar.scss */
nav ul:nth-child(3) li {
  display: inline-block;
  padding: 19px 15px 25px 15px;
}
/* line 23, ../sass/navbar.scss */
nav ul:nth-child(1) {
  float: left;
}
/* line 25, ../sass/navbar.scss */
nav ul:nth-child(1) li {
  padding: 14px 15px;
}
@media screen and (max-width: 768px) {
  /* line 30, ../sass/navbar.scss */
  nav ul:nth-child(3) {
    display: none;
    float: left;
    clear: both;
    margin-bottom: 20px;
  }
  /* line 35, ../sass/navbar.scss */
  nav ul:nth-child(3) li {
    display: block;
    padding: 5px 17px;
    margin-top: 0px;
  }
  /* line 42, ../sass/navbar.scss */
  nav ul:nth-child(2) li {
    padding: 19px 15px 19px 15px;
  }
}
@media screen and (min-width: 768px) {
  /* line 49, ../sass/navbar.scss */
  nav .dropdown-link:hover ul.dropdown {
    display: block;
  }
}
/* line 53, ../sass/navbar.scss */
nav ul.dropdown {
  display: none;
  background-color: #FFF;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  position: fixed;
  padding: 5px 5px 15px 0px;
  width: 170px;
  margin-top: 20px;
  margin-left: -20px;
}
@media screen and (max-width: 768px) {
  /* line 53, ../sass/navbar.scss */
  nav ul.dropdown {
    margin-top: 0px;
    margin-left: 0px;
    box-shadow: none;
    display: block;
    position: static;
    padding: 0px;
    width: 100%;
  }
}
/* line 71, ../sass/navbar.scss */
nav ul.dropdown li {
  display: block;
  padding: 5px 17px;
}
@media screen and (max-width: 768px) {
  /* line 71, ../sass/navbar.scss */
  nav ul.dropdown li {
    padding: 5px 0px;
  }
  /* line 76, ../sass/navbar.scss */
  nav ul.dropdown li a {
    font-size: 14px;
  }
}
/* line 82, ../sass/navbar.scss */
nav a {
  text-decoration: none;
  color: #444444;
}
/* line 85, ../sass/navbar.scss */
nav a:hover {
  opacity: 0.75;
}
/* line 89, ../sass/navbar.scss */
nav img {
  cursor: pointer;
}
/* line 91, ../sass/navbar.scss */
nav img:hover {
  opacity: 0.75;
}
/* line 95, ../sass/navbar.scss */
nav i {
  display: none;
  font-size: 20px;
  padding: 5px;
  color: #444444;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 95, ../sass/navbar.scss */
  nav i {
    display: block;
  }
}
/* line 104, ../sass/navbar.scss */
nav i:hover {
  opacity: 0.8;
}
/* line 108, ../sass/navbar.scss */
nav i.active {
  opacity: 0.8;
}
